/* hide meta for non-post types as it's often wrong */
.search .type-bp_group footer,
.search .type-user footer {
  display: none;
}

.search #ep-bp-facets h5 {
  padding: 1em 0 0.5em;
}

.search #ep-bp-facets input,
.search #ep-bp-facets select {
  width: 100%;
}

/* TODO remove this (move to child theme) when plugin is finalized */
#titlebar-search {
  display: table-cell !important;
}
