/* hide meta for non-post types as it's often wrong */
.search .type-bp_group .comments-link,
.search .type-bp_group .entry-actions,
.search .type-bp_group .post-date,
.search .type-bp_group .author,
.search .type-user .comments-link,
.search .type-user .entry-actions,
.search .type-user .post-date,
.search .type-user .author {
  display: none;
}

.search #ep-bp-facets h5 {
  padding: 1em 0 0.5em;
}

.search #ep-bp-facets input,
.search #ep-bp-facets select {
  width: 100%;
}

.search #ep-bp-facets .buddyboss-select {
  min-width: 0;
  width: 100%;
}

.search #ep-bp-facets .buddyboss-select:first-of-type {
  margin-bottom: 10px;
}

.search #ep-bp-facets input[type=submit] {
  padding: 10px 0;
}

.search .post-wrap {
  padding: 20px 70px;
}

.search .avatar {
  display: inline;
}

.search :hover .post_type {
  color: initial;
  text-decoration: none;
}

.search .entry-title {
  margin-bottom: 0;
}

.search .post_type {
  border-radius: 4px;
  display: inline-block;
  font-size: 15px;
  margin: 5px 10px 0 0;
  padding: 5px;
  background-color: #ececec;
  vertical-align: top;
}
.search .post_type::before {
}
.search .post_type::after {
}

/* TODO remove this (move to child theme) when plugin is finalized */
#titlebar-search {
  display: table-cell !important;
}

/* TODO hidden by ajax anyway in boss, but belongs in theme */
.search .page-header {
  display: none;
}

/* TODO belongs in theme. */
#titlebar-search #s {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  float: right;
  height: 2em;
  margin: 14px 70px 0 0;
  padding: 0 1em;
  width: 80%;
}
body #titlebar-search #searchform {
  width: 50%;
}
#searchform {
  display: block !important;
}
#search-close {
  display: none;
}
#searchsubmit {
  box-shadow: none;
}



/**
 * tabselect css
 * adjusted from http://fredibach.ch/jquery-plugins/tabselect.php#styling
 */
.search #ep-bp-facets select[multiple] {
  display: none;
}

.search #ep-bp-facets span span {
  cursor: pointer;
  padding: 0 5px;
  margin: 5px;
  border-radius: 4px;
  display: inline-block;
}

.search #ep-bp-facets span.active {
  background: yellow;
  color: black;
  border: 1px #66aa00 solid;
}
.search #ep-bp-facets span.active:hover {
  border: 1px #338800 solid;
}

.search #ep-bp-facets span.inactive {
  background: #ddd;
  color: #888;
  border: 1px #bbb solid;
}
.search #ep-bp-facets span.inactive:hover {
  background: #bbb;
  color: #fff;
  border: 1px #888 solid;
}

.search .in-progress {
  opacity: 0.5;
}
